<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>DCMProject</display-name>
	<servlet>
		<servlet-name>DCMServices</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
		</init-param>
		<init-param>
			<param-name>org.apache.olingo.odata2.service.factory</param-name>
			<param-value>net.cb.dcm.odata.DcmOdataJPAServiceFactory</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DevFeeder</servlet-name>
		<servlet-class>net.cb.dcm.dev_feed.DevFeeder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DCMServices</servlet-name>
		<url-pattern>/DCMService.svc/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DevFeeder</servlet-name>
		<url-pattern>/devfeed</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<res-ref-name>jdbc/DefaultDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>